<div class="album-inner">
  <img [src]=album.albumImage alt="{{album.title}}">
  <div class="info">
    <span>
      Title: {{album.title}}
    </span>
    <span>
      Artist: {{album.artistName}}
    </span>
    <span>
      Total tracks: {{album.tracksCount}}
    </span>
    <a [href]=album.link target="_blank">Preview</a>
  </div>
</div>
