img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.info > * {
  margin-bottom: 10px;
}

.album-inner{
  width: 200px;
  height: 100%;
  border: 1px solid #6e6e6e;
  color: #6e6e6e;
  border-radius: 5px;
}
