<form [formGroup]="form" (submit)="onSubmit()" class="search-form">

  <input type="text" name="artist" formControlName="artist" class="text-field" required>

  <button [disabled]="form.invalid" type="submit" class="btn">
    Get albums
  </button>
</form>
