.album-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}

.no-result,
.loading {
  margin: 20px 0;
}

.pagination {
  display: flex;
  justify-content: center;
}

