<div class="container">
  <app-form (search)="onSearch($event)"></app-form>

  <div *ngIf="loading" class="loading">
    Loading...
  </div>

  <div *ngIf="notFound" class="no-result">
    No results found for your request '{{query}}'.
  </div>

  <div class="album-wrapper">
    <app-album *ngFor="let album of albums" [album] = album></app-album>
  </div>

</div>


<!--<router-outlet></router-outlet>-->
