/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
